.btn{
    margin: 5px;
    height: 8rem;
    width: 8rem;
    box-shadow: 0 7px 25px rgba(0,0,0,0.05);
    border-radius: 2rem;
    border: #e5e5e5 solid;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
}

.btn:hover {
  opacity: 80%;

  box-shadow: 0 7px 25px rgba(0,0,0,0.15);
}

.comp{
    height: 3.1rem;
    width: 13rem;
    box-shadow: 0 7px 25px rgba(0,0,0,0.05);
    border-radius: 2rem;
    border: #b5c6d7 solid;
}

.loan{
    height: 3.1rem;
    width: 13rem;
    box-shadow: 0 7px 25px rgba(0,0,0,0.05);
    border-radius: 2rem;
    border: #98d39c solid;
    background-color:#98d39c ;
}

.bankIcon{
    height:128px;
    width:128px;
    border-radius: 12px;
    filter:grayscale(1);
    transition: .3s;
    margin:8px;
    display: flex;
    justify-content: center;
}

.bankIcon > img{
    border-radius: 12px;
}

.bankIcon:hover,
.bankIcon.selected{
    filter:grayscale(0);
}